<% if jumps.any? %>
  <div class="jump-list">
    <% jumps.each do |jump| %>
      <%= link_to jump, class: "jump-card" do %>
        <span class="jump-date"><%= l(jump.display_started_at, format: :short) %></span>
        <strong><%= jump.name %></strong>
        <span><%= [jump.location.presence, duration(jump.duration_seconds), meters(jump.distance_m)].compact.join(" / ") %></span>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="empty-state"><%= t("jumps.empty") %></p>
<% end %>
